{% extends "layouts/main_register.html" %}
{% set phaseBanner = 'true' %}

{% block pageTitle %}
  Check answers – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <h1 class="govuk-heading-l">Check your answers before sending your request</h1>

      <h2 class="govuk-heading-m">Personal details</h2>

      {{ govukSummaryList({
        classes: "govuk-!-margin-bottom-9",
        rows: [
          {
            key: {
              text: "Name"
            },
            value: {
              text: data['fullName']
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "Full name"
                }
              ]
            }
          },
          {
            key: {
              text: "Email address"
            },
            value: {
              text: data['emailAddress']
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "email address"
                }
              ]
            }
          },
          {
            key: {
              text: "Shared or team email address"
            },
            value: {
              text: data['shareteamemailAddress']
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "customer reference"
                }
              ]
            }
          },
          {
            key: {
              text: "Line manager's email address"
            },
            value: {
              text: data['manageremailAddress']
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "address"
                }
              ]
            }
          },
          {
            key: {
              text: "Your teams' Slack channel URL"
            },
            value: {
              text: data['slackUrl']
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "contact details"
                }
              ]
            }
          },
          {
            key: {
              text: "DWP service name"
            },
            value: {
              text: data['serviceName']
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "contact details"
                }
              ]
            }
          }
        ]
      }) }}

      <h2 class="govuk-heading-m">Select Client or Public Key</h2>

      {{ govukSummaryList({
        classes: "govuk-!-margin-bottom-9",
        rows: [
          {
            key: {
              text: "Chosen key"
            },
            value: {
              text: data['clientSecretAnswer']
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "previous application number"
                }
              ]
            }
          },
          {
            key: {
              text: "Expiry date"
            },
            value: {
              text: data['clientDate-day']
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "Client expiry date"
                }
              ]
            }
          }
        ]
      }) }}

      <h2 class="govuk-heading-m">Technical details</h2>

      {{ govukSummaryList({
        classes: "govuk-!-margin-bottom-9",
        rows: [
          {
            key: {
              text: "Environment"
            },
            value: {
              text: data['environment']
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "environment"
                }
              ]
            }
          },
          {
            key: {
              text: "Redirect URL"
            },
            value: {
              text: data['redirectUrl']
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "licence type"
                }
              ]
            }
          },
          {
            key: {
              text: "Logout URL"
            },
            value: {
              text: data['logoutUrl']
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "logout url"
                }
              ]
            }
          },
          {
            key: {
              text: "ID token signature algorithum"
            },
            value: {
              text: data['idtoken']
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "id token"
                }
              ]
            }
          },
          {
            key: {
              text: "Scopes"
            },
            value: {
              text: data['scopes']
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "scopes"
                }
              ]
            }
          },
          {
            key: {
              text: "Claims"
            },
            value: {
              text: data['Claims']
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "claims"
                }
              ]
            }
          }
        ]
      }) }}

      <h2 class="govuk-heading-m">Now send your registration request</h2>

      <p class="govuk-body">By submitting this application you are confirming that, to the best of your knowledge, the details you are providing are correct.</p>

      <form action="/form-handler" method="post" novalidate>

        <input type="hidden" name="answers-checked" value="true">

        <div class="govuk-button-group">
          {{ govukButton({
            text: "Confirm and submit",
            href: "registration-successful"
          }) }}
        </div>

      </form>

    </div>
  </div>
{% endblock %}
