{% extends "layouts/main_register.html" %}
{% set phaseBanner = 'true' %}

{% block pageTitle %}
  Submit a registration request – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Submit a registration request</h1>

      <form action="/check-answers" method="post" novalidate>

        {% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/input/macro.njk" import govukInput %}

{% set emailHtml %}
{{ govukInput({
  id: "contact-by-email",
  name: "contactByEmail",
  type: "email",
  autocomplete: "email",
  spellcheck: false,
  classes: "govuk-!-width-one-third",
  label: {
    text: "Client Secret answer"
  }
}) }}

{{ govukDateInput({
id: "expiry-time",
namePrefix: "expiry-time",
fieldset: {
legend: {
text: "Client secret expiry time",
isPageHeading: true,
classes: "govuk-fieldset__legend-"
}
},
hint: {
text: "For example, 10 6 2025"
}
}) }}
{% endset -%}

{% set phoneHtml %}
{{ govukInput({
  id: "public-key-answer",
  name: "publicKeyAnswer",
  type: "email",
  autocomplete: "off",
  spellcheck: false,
  classes: "govuk-!-width-one-third",
  label: {
    text: "Public Key answer"
  }
}) }}

{{ govukDateInput({
id: "expiry-time-public",
namePrefix: "expiry-time-public",
fieldset: {
legend: {
text: "Public Key expiry time",
isPageHeading: true,
classes: "govuk-fieldset__legend-"
}
},
hint: {
text: "For example, 10 6 2025"
}
}) }}
{% endset -%}

{% set textHtml %}
{{ govukInput({
  id: "contact-by-text",
  name: "contactByText",
  type: "tel",
  autocomplete: "tel",
  classes: "govuk-!-width-one-third",
  label: {
    text: "Mobile phone number"
  }
}) }}
{% endset -%}

{{ govukRadios({
  name: "contact",
  fieldset: {
    legend: {
      text: "Select Client or Public Key",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--s"
    }
  },
  hint: {
    text: "You must use either a Client Secret or Public Key"
  },
  items: [
    {
      value: "email",
      text: "Client Secret",
      conditional: {
        html: emailHtml
      }
    },
    {
      value: "phone",
      text: "Public Key",
      conditional: {
        html: phoneHtml
      }
    }
  ]
}) }}

        <div class="govuk-button-group">
          {{ govukButton({
            text: "Continue"
          }) }}

          {{ govukButton({
            text: "Clear",
            classes: "govuk-button--secondary"
          }) }}
        </div>

      </form>
    </div>
  </div>
{% endblock %}
