{% extends "layouts/main_register.html" %}

{% block pageTitle %}
  Register your service for integration – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}

  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "#"
      },
      {
        text: "Section",
        href: "#"
      },
      {
        text: "Subsection"
      }
    ]
  }) }}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Register your service for integration
      </h1>

      <p>Use this service to:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>Submit a DTH integration request for GOV.UK One Login</li>
      </ul>

      <p>It takes around 5 minutes to register a submission.</p>

      <p>The Identity and Trust Service Management Team will handle your request and update you on your integration request status.</p>

      {{ govukButton({
        text: "Start now",
        href: "registration",
        isStartButton: true
      }) }}

      <h2 class="govuk-heading-m">
        Before you start
      </h2>

      <p class="govuk-body">It is essential that you have all the information you need to hand before you register a request.</p>

      <details class="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          You will need the following:
        </span>
      </summary>
      <div class="govuk-details__text">
        <ul class="govuk-list govuk-list--bullet">
          <li>your email</li>
          <li>shared or team email</li>
          <li>line manager email</li>
          <li>your DWP service name</li>
          <li>a client secret</li>
          <li>client expiry date</li>
          <li>the service redirect URL</li>
          <li>your ID token signature algorithum</li>
          <li>client expiry date</li>
          <li>the service redirect URL</li>
          <li>Scopes, forexample 'openid'</li>
          <li>Claims, for example 'guid'</li>
        </ul>
      </div>
      </details>

      <h2 class="govuk-heading-m">
        If you need help using this service
      </h2>

      <p class="govuk-body">You can email the team directly on <a href="dthclient.itsm@DWP.gov.uk">dthclient.itsm@DWP.gov.uk</a></p>

      <p>We’ll reply by email within 2 days.</p>

      <p>We’ll respond during office hours:
      Monday to Friday, Office hours are 8am to 6pm.</p>

      </div>

      <div class="govuk-grid-column-one-third">

        <aside class="govuk-prototype-kit-common-templates-related-items" role="complementary">
          <h2 class="govuk-heading-m" id="subsection-title">
            Helpful links
          </h2>
          <nav role="navigation" aria-labelledby="subsection-title">
            <ul class="govuk-list govuk-!-font-size-16">
              <li>
                <a href="contact-dth-support" target="_blank">
                  Service support
                </a>
              </li>
              <li>
                <a href="#">
                  Email us direct
                </a>
              </li>
              <li>
                <a href="https://www.sign-in.service.gov.uk" target="_blank">
                  GOV.UK One Login
                </a>
              </li>
            </ul>
          </nav>
        </aside>

    </div>
  </div>

{% endblock %}
