{% extends "layouts/main_agent_client_registration_test.html" %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% set backLink = 'true' %}

{% block pageTitle %}
  Start page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}




{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
<form class="form" action="/enter-their-contact-details2" method="post">

      <h1 class="govuk-heading-xl">
Who will be responsible for your client credentials?
      </h1>

   <p class="govuk-body">
The client ID and client secret will be sent by secure email to this contact. <br> They will need to be stored securely.
     </p>
     


{{ govukRadios({
  name: "responsiblecred",
  fieldset: {
    legend: {
      text: ""
    }
  },
  items: [
    {
      value: "me",
      text: "Me"
    },
    {
      value: "thisperson",
      text: data['fullName2']
    },
    {
      value: "someone",
      text: "Someone else"
    }
  ]
}) }}

 <button type="submit" class="govuk-button" data-module="govuk-button">
  Continue
</button>

</form>
  
    </div>
</div>

{% endblock %}
