{% extends "layouts/main_agent_details_dwp.html" %}
{% set phaseBanner = 'true' %}
{% set backLink = 'true' %}

{% block pageTitle %}
  Make a decision on request CA-WEB – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
<h1 class="govuk-heading-l">Make a decision on request CA-WEB</h1>

<!--
<div class="govuk-inset-text govuk-!-margin-top-0">
    <h2 class="govuk-heading-m govuk-!-margin-bottom-3">Action needed</h2>
    <p>This application was received 6 days ago, you should aim to make a decision on this claim within 30 days.</p>
    </div> -->

    <form class="form" action="/request-decision3" method="post">

    {% set textHtml %}
    {{ govukTextarea({
      id: "reason-for-decline",
      name: "reasonForDecline",
      type: "text",
      classes: "govuk-!-width-one-half",
      label: {
        text: "Reason for decline"
      }
    }) }}
    {% endset -%}

    {{ govukRadios({
      name: "yourDecision3",
      fieldset: {
        legend: {
          text: "Your decision",
          isPageHeading: true,
          classes: "govuk-fieldset__legend--m"
        }
      },
      hint: {
        text: "Select one option. If you decline a request you will be expected to state why."
      },
      items: [
        {
          value: "approve",
          text: "Approve this request",
          checked: false
        },
        {
          value: "decline",
          text: "Decline this request",
          conditional: {
            html: textHtml
          }
        }
      ]
    }) }}

    {{ govukButton({
    text: "Confirm decision"
    }) }}

    </form>

{{ govukDetails({
  summaryText: "Learn more about this page",
  text: "You can use this page to check the client record and quickly make an approval decision. By updating this record you are confirming that, to the best of your knowledge, the details provided are sufficient for a decision to be made."
}) }}

<!--
<h2 class="govuk-heading-m">Request details</h2>

<dl class="govuk-summary-list govuk-!-margin-bottom-9">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Status
    </dt>
    <dd class="govuk-summary-list__value">
      <strong class="govuk-tag">
  Pending-new
</strong>
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Date received
    </dt>
    <dd class="govuk-summary-list__value">
      25 April 2024
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Client ID
    </dt>
    <dd class="govuk-summary-list__value">
      CA-WEB
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Environment type
    </dt>
    <dd class="govuk-summary-list__value">
      Production
    </dd>
  </div>
</dl>
-->

{{ govukSummaryList({
card: {
  title: {
    text: "Request details"
  }
},
rows: [
  {
    key: {
      text: "Email address"
    },
    value: {
      html: '<strong class="govuk-tag">
  Pending-new
</strong>'
    }
  },
  {
    key: {
      text: "Client ID"
    },
    value: {
      text: "CA-WEB"
    }
  },
  {
    key: {
      text: "Environment type"
    },
    value: {
      text: "Production"
    }
  }
]
}) }}

{{ govukSummaryList({
card: {
  title: {
    text: "Personal details"
  },
  actions: {
    items: [
      {
        href: "update-registration-personal",
        text: "Change answers",
        visuallyHiddenText: "Change personal details"
      }
    ]
  }
},
rows: [
  {
    key: {
      text: "Full name"
    },
    value: {
      text: data['fullName']
    }
  },
  {
    key: {
      text: "Email address"
    },
    value: {
      text: data['emailAddress']
    }
  },
  {
    key: {
      text: "Shared or team email address"
    },
    value: {
      text: data['shareteamemailAddress']
    }
  },
  {
    key: {
      text: "Line manager's email address"
    },
    value: {
      text: data['managerEmailAddress']
    }
  },
  {
    key: {
      text: "Primary approver's email address"
    },
    value: {
      text: data['primaryApproverEmailAddress']
    }
  },
  {
    key: {
      text: "Secondary approver's email address"
    },
    value: {
      text: data['secondaryApproverEmailAddress']
    }
  },
  {
    key: {
      text: "Your teams' Slack channel URL"
    },
    value: {
      text: data['slackUrl']
    }
  },
  {
    key: {
      text: "DWP service name"
    },
    value: {
      text: data['serviceName']
    }
  }
]
}) }}

{{ govukSummaryList({
card: {
  title: {
    text: "Technical details"
  },
  actions: {
    items: [
      {
        href: "update-registration-technical",
        text: "Change answers",
        visuallyHiddenText: "Change technical details"
      }
    ]
  }
},
rows: [
  {
    key: {
      text: "IDV passed redirect URL"
    },
    value: {
      text: data['idvPassedRedirectUrl']
    }
  },
  {
    key: {
      text: "IDV failed redirect URL"
    },
    value: {
      text: data['idvFailedRedirectUrl']
    }
  },
  {
    key: {
      text: "Logout URL"
    },
    value: {
      text: data['logOutUrl']
    }
  },
  {
    key: {
      text: "Scopes"
    },
    value: {
      text: data['scopes']
    }
  },
  {
    key: {
      text: "Claims"
    },
    value: {
      text: data['Claims']
    }
  }
]
}) }}

<!--
<h2 class="govuk-heading-m">Personal details</h2>

<dl class="govuk-summary-list govuk-!-margin-bottom-9">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Full Name
    </dt>
    <dd class="govuk-summary-list__value">
      Sarah Philips
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="">Change<span class="govuk-visually-hidden"> full name</span></a>
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Email address
    </dt>
    <dd class="govuk-summary-list__value">
      sarah@testdwp.gov.uk
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="">Change<span class="govuk-visually-hidden"> Email address</span></a>
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Shared or team email address
    </dt>
    <dd class="govuk-summary-list__value">
      team@mail.gov.uk
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="">Change<span class="govuk-visually-hidden"> Shared or team email address/span></a>
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Line manager email address
    </dt>
    <dd class="govuk-summary-list__value">
      manager@tmail.gov.uk
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="">Change<span class="govuk-visually-hidden"> Line manager email address</span></a>
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Primary approver's email address
    </dt>
    <dd class="govuk-summary-list__value">
      primaryapprover@mail.gov.uk
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="">Change<span class="govuk-visually-hidden"> Primary approver's email address</span></a>
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Secondary approver's email address
    </dt>
    <dd class="govuk-summary-list__value">
      secondaryapprover@tmail.gov.uk
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="">Change<span class="govuk-visually-hidden"> Secondary approver's email address</span></a>
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Your teams' Slack channel URL
    </dt>
    <dd class="govuk-summary-list__value">
      Slack URL
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="">Change<span class="govuk-visually-hidden"> Your teams' Slack channel URL</span></a>
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      DWP service name
    </dt>
    <dd class="govuk-summary-list__value">
      Carers Allowance
      </dd>
      <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="">Change<span class="govuk-visually-hidden"> DWP service name</span></a>
    </dd>
  </div>
</dl>
<!-- <h2 class="govuk-heading-m">Public key details</h2>
<dl class="govuk-summary-list govuk-!-margin-bottom-9">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Public key answer
    </dt>
    <dd class="govuk-summary-list__value">
      answer here
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Public key expiry date
    </dt>
    <dd class="govuk-summary-list__value">
      25 02 2025
    </dd>
  </div>
</dl>

<h2 class="govuk-heading-m">Technical details</h2>
<dl class="govuk-summary-list govuk-!-margin-bottom-9">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Environment type
    </dt>
    <dd class="govuk-summary-list__value">
      Production
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      IDV passed Redirect URL
    </dt>
    <dd class="govuk-summary-list__value">
      url here
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="">Change<span class="govuk-visually-hidden"> IDV passed Redirect URL</span></a>
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      IDV failed Redirect URL
    </dt>
    <dd class="govuk-summary-list__value">
      url here
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="">Change<span class="govuk-visually-hidden"> IDV failed Redirect URL</span></a>
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Logout URL
    </dt>
    <dd class="govuk-summary-list__value">
      http://carers-allowance-test.gov.uk/logout
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="">Change<span class="govuk-visually-hidden"> Logout URL</span></a>
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Scopes
    </dt>
    <dd class="govuk-summary-list__value">
      openID
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="">Change<span class="govuk-visually-hidden"> Scopes</span></a>
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Claims
    </dt>
    <dd class="govuk-summary-list__value">
      phone
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="">Change<span class="govuk-visually-hidden"> Claims</span></a>
    </dd>
  </div>
</dl>
--> 

<div class="govuk-button-group">
      {{ govukButton({
          text: "Return to DWP Registrations",
          classes: "govuk-button--secondary",
          href: "request-list"
      }) }}
</div>

</div>


{% endblock %}
