{% extends "layouts/main_agent_details_approved.html" %}
{% set phaseBanner = 'true' %}

{% block pageTitle %}
  You have approved the request – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        You have approved the request CA-WEB
      </h1>

      <h2 class="govuk-heading-m">Decision date</h2>

      <p class="govuk-body">25 September 2024</p>

      <p class="govuk-body">
              This record will now move into GOV.UK One Login Approvals.
      </p>

      <p class="govuk-body"><a href="#">View CA-WEB in GOV.UK OL Approvals </a></p>

      <div class="govuk-button-group">
        {{ govukButton({
          text: "Manage another DWP request",
          href: "request-list"
        }) }}

        {{ govukButton({
          text: "Switch to GOV.UK OL Approvals",
          classes: "govuk-button--secondary",
          href: "/approvals-ol/flow2/request-list-ol"
        }) }}
      </div>

{% endblock %}
