{% extends "layouts/main_register.html" %}
{% set phaseBanner = 'true' %}

{% block pageTitle %}
  Submit a registration request – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Submit a registration request</h1>

      <form action="/check-answers-data" method="post" novalidate>

        <h2 class="govuk-heading-m">Enter Personal details</h2>

        {{ govukInput({
          label: {
            text: "Full name",
            classes: "govuk-label"
          },
          classes: "govuk-input--width-20",
          id: "full-name",
          name: "fullName",
          autocomplete: "name",
          spellcheck: false
        }) }}

        {{ govukInput({
          label: {
            text: "Email address",
            classes: "govuk-label"
          },
          classes: "govuk-input--width-20",
          id: "email-address",
          name: "emailAddress",
          autocomplete: "email",
          spellcheck: false
        }) }}

        {{ govukInput({
          label: {
            text: "Shared or team email address",
            classes: "govuk-label"
          },
          classes: "govuk-input--width-20",
          id: "share-team-address",
          name: "shareteamemailAddress",
          spellcheck: false
        }) }}

        {{ govukDetails({
          summaryText: "Tell me more about shared and team email",
          text: "If you use one, tell us what your team email address is. This is so someone else can pick up messages about your registration to the Dynamic Trust Hub Access Manager if you are away."
        }) }}

        {{ govukInput({
          label: {
            text: "Line manager email address",
            classes: "govuk-label"
          },
          classes: "govuk-input--width-20",
          id: "manager-email-address",
          name: "manageremailAddress",
          spellcheck: false
        }) }}

        {{ govukInput({
          label: {
            text: "Your teams' Slack channel URL",
            classes: "govuk-label"
          },
          classes: "govuk-input--width-20",
          id: "team-slack-url",
          name: "slackUrl",
          spellcheck: false
        }) }}

        {{ govukDetails({
          summaryText: "Tell me more about Slack channels",
          text: "Enter the hashtag (#) or URL for your teams’ slack channel so it can get updates about your registration application."
        }) }}

        {{ govukInput({
          label: {
            text: "DWP service name",
            classes: "govuk-label"
          },
          hint: {
                    text: "For example, Access to Work"
                  },
          classes: "govuk-input--width-20",
          id: "service-name",
          name: "serviceName",
          spellcheck: false
        }) }}

        {{ govukDetails({
          summaryText: "Tell me more about the service name",
          text: "This is the name of your service that you wish to onboard with Dynamic Trust Hub Access Manager service (DTH AM)."
        }) }}

        {% set clientHtml %}
        {{ govukInput({
          id: "client-secret-answer",
          name: "clientSecretAnswer",
          type: "text",
          autocomplete: "off",
          spellcheck: false,
          classes: "govuk-!-width-one-third",
          label: {
            text: "Client Secret answer"
          }
        }) }}

        {{ govukDateInput({
        id: "clientDate",
        namePrefix: "clientDate",
        fieldset: {
        legend: {
        text: "Client secret expiry date",
        isPageHeading: true,
        classes: "govuk-fieldset__legend-"
        }
        },
        hint: {
        text: "For example, 10 6 2025"
        }
        }) }}
        {% endset -%}

        {% set publicHtml %}
        {{ govukInput({
          id: "public-key-answer",
          name: "publicKeyAnswer",
          type: "email",
          autocomplete: "off",
          spellcheck: false,
          classes: "govuk-!-width-one-third",
          label: {
            text: "Public Key answer"
          }
        }) }}

        {{ govukDateInput({
        id: "publicDate",
        namePrefix: "publicDate",
        fieldset: {
        legend: {
        text: "Public key expiry date",
        isPageHeading: true,
        classes: "govuk-fieldset__legend-"
        }
        },
        hint: {
        text: "For example, 10 6 2025"
        }
        }) }}
        {% endset -%}

        {{ govukRadios({
          name: "Choose",
          fieldset: {
            legend: {
              text: "Select Client secret or Public key",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--m"
            }
          },
          hint: {
            text: "You must use either a Client Secret or Public Key"
          },
          items: [
            {
              value: "client",
              text: "Client Secret",
              conditional: {
                html: clientHtml
              }
            },
            {
              value: "public",
              text: "Public Key",
              conditional: {
                html: publicHtml
              }
            }
          ]
        }) }}

        {{ govukDetails({
          summaryText: "Tell me more about Client Secret or Public Key",
          html: '<p>A client secret is a secret string that the application uses to prove its identity when requesting a token, this can also can be referred to as an application password.</p>
          <p>A public key is a string that the application uses to prove its identity and more content here.</p>'
        }) }}

        <h2 class="govuk-heading-m">Enter Technical details</h2>

        <div class="govuk-form-group">
          <label class="govuk-label govuk-label" for="environment">
            Choose environment
          </label>
          <select class="govuk-select" id="environment" name="environment" aria-describedby="environment-hint">
            <option value="choose" selected>Select type</option>
            <option value="Test">Test</option>
            <option value="Production">Production</option>
          </select>
        </div>

        {{ govukDetails({
          summaryText: "Tell me more about environment type",
          text: "Filler text in here for now, awaiting content."
        }) }}

        {{ govukInput({
          label: {
            text: "Redirect URL",
            classes: "govuk-label"
          },
          hint: {
                    text: "For example, http://client-service.dwp.gov.uk/context"
                  },
          classes: "govuk-input--width-20",
          id: "redirect-url",
          name: "redirectUrl",
          spellcheck: false
        }) }}

        {{ govukDetails({
          summaryText: "Tell me more about Redirect URL",
          text: "This is the URL that you wish the service to redirect users or DWP services back to after they have been authorised through DTH AM. Usually the DWP service page or the first screen of your service."
        }) }}

        {{ govukInput({
          label: {
            text: "Logout URL",
            classes: "govuk-label"
          },
          hint: {
                    text: "For example, http://client-service.dwp.gov.uk/logout"
                  },
          classes: "govuk-input--width-20",
          id: "logout-url",
          name: "logoutUrl",
          spellcheck: false
        }) }}

        {{ govukDetails({
          summaryText: "Tell me more about Logout URL",
          text: "Content to go here."
        }) }}

        {% from "govuk/components/select/macro.njk" import govukSelect %}

        {{ govukSelect({
          id: "idtoken",
          name: "idtoken",
          label: {
            text: "ID token signature algorithum",
            classes: "govuk-label"
          },
          items: [
            {
              value: "choose",
              text: "Choose ID token",
              selected: true
            },
            {
              value: "ES256",
              text: "ES256"
            },
            {
              value: "HS256",
              text: "HS256"
            },
            {
              value: "RS256",
              text: "RS256"
            }
          ]
        }) }}

        {{ govukInput({
          label: {
            text: "Scopes",
            classes: "govuk-label"
          },
          hint: {
                    text: "For example, 'openid', 'guid'"
                  },
          classes: "govuk-input--width-20",
          id: "scopes",
          name: "scopes",
          spellcheck: false
        }) }}

        {{ govukDetails({
          summaryText: "Tell me more about Scopes",
          text: "This should be reflected as an array. For example (insert example)."
        }) }}

        {{ govukInput({
          label: {
            text: "Claims",
            classes: "govuk-label"
          },
          hint: {
                    text: "For example, 'guid', 'email', 'phone', 'vot'"
                  },
          classes: "govuk-input--width-20",
          id: "Claims",
          name: "Claims",
          spellcheck: false
        }) }}

        {{ govukDetails({
          summaryText: "Tell me more about Claims",
          text: "This should be reflected as an (example) For example (insert example)."
        }) }}

        <div class="govuk-button-group">
          {{ govukButton({
            text: "Continue"
          }) }}

          {{ govukButton({
            text: "Clear",
            classes: "govuk-button--secondary"
          }) }}
        </div>

      </form>
    </div>
  </div>
{% endblock %}
