{% extends "layouts/main_agent_client_management-test.html" %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% set backLink = 'true' %}

{% block pageTitle %}
  Start page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}




{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
<form class="form" action="./test-environment-registration-saved" method="post">

      <h1 class="govuk-heading-xl">
Check your answers before saving your changes
      </h1>




       {% if data['araproduct'] == 'Not applicable' %}
     {{ govukSummaryList({
  card: {
    title: {
      text: "GPG key, product and service name"
    },
    actions: {
      items: [
        {
          href: "./technical-prereq-m",
          text: "Change answers",
          visuallyHiddenText: "Change product and service name"
        }
      ]
    }
  },
  rows: [
     {
      key: {
        text: "GPG public key"
      },
      value: {
        text: 	data['GPG']
      }
    },
    {
      key: {
        text: "Product"
      },
      value: {
        text: data['productarea']
      }
    },
    {
      key: {
        text: "Service name"
      },
      value: {
        text: data['servicename']
      }
    }
  ]
  }) }}
      
    {% else %} 
      {{ govukSummaryList({
  card: {
    title: {
      text: "GPG key, product and service name"
    },
    actions: {
      items: [
        {
          href: "./technical-prereq-m",
          text: "Change answers",
          visuallyHiddenText: "Change product name, service name or GPG public key"
        }
      ]
    }
  },
  rows: [
     {
      key: {
        text: "GPG public key"
      },
      value: {
        text: 	data['GPG']
      }
    },
    {
      key: {
        text: "Product"
      },
      value: {
        text: data['araproduct']
      }
    },
    {
      key: {
        text: "Service name"
      },
      value: {
        text: data['servicename']
      }
    }
  ]
  }) }}
    {% endif %}










{{ govukSummaryList({
  card: {
    title: {
      text: "Contact details: registration"
    },
    actions: {
      items: [
        {
          href: "./enter-contact-details-m",
          text: "Change answers",
          visuallyHiddenText: "Change contact details: registration"
        }
      ]
    }
  },
  rows: [
    {
      key: {
        text: "Name"
      },
      value: {
        text: data['fullName1']
      }
    },
    {
      key: {
        text: "Job role"
      },
      value: {
        text: data['jobRole1']
      }
    },
    {
      key: {
        text: "Contact details"
      },
      value: {
        text: data['managerEmailAddress1']
      }
    }
  ]
  }) }}




{% if data['responsibleon'] == 'me' %}
  
{{ govukSummaryList({
  card: {
    title: {
      text: "Contact details: managing onboarding"
    },
    actions: {
      items: [
        {
          href: "./enter-their-contact-details-m",
          text: "Change answers",
          visuallyHiddenText: "Change contact details: managing onboarding"
        }
      ]
    }
  },
  rows: [
    {
      key: {
        text: "Name"
      },
      value: {
        text: data['fullName1']
      }
    },
    {
      key: {
        text: "Job role"
      },
      value: {
        text: data['jobRole1']
      }
    },
    {
      key: {
        text: "Contact details"
      },
      value: {
        text: data['managerEmailAddress1']
      }
    }
  ]
  }) }}



{% else %}


{{ govukSummaryList({
  card: {
    title: {
      text: "Contact details: managing onboarding"
    },
    actions: {
      items: [
        {
          href: "./enter-their-contact-details-m",
          text: "Change answers",
          visuallyHiddenText: "Change contact details: managing onboarding"
        }
      ]
    }
  },
  rows: [
    {
      key: {
        text: "Name"
      },
      value: {
        text: data['fullName2']
      }
    },
    {
      key: {
        text: "Job role"
      },
      value: {
        text: data['jobRole2']
      }
    },
    {
      key: {
        text: "Contact details"
      },
      value: {
        text: data['managerEmailAddress2']
      }
    }
  ]
  }) }}



{% endif %}

 

{% if data['responsiblecred'] == 'me' %}
  
{{ govukSummaryList({
  card: {
    title: {
      text: "Contact details: client credentials"
    },
    actions: {
      items: [
        {
          href: "./enter-their-contact-details2-m",
          text: "Change answers",
          visuallyHiddenText: "Change contact details: client credentials"
        }
      ]
    }
  },
  rows: [
    {
      key: {
        text: "Name"
      },
      value: {
        text: data['fullName1']
      }
    },
    {
      key: {
        text: "Job role"
      },
      value: {
        text: data['jobRole1']
      }
    },
    {
      key: {
        text: "Contact details"
      },
      value: {
        text: data['managerEmailAddress1']
      }
    }
  ]
  }) }}



{% elif data['responsiblecred'] == 'me2' %}


{{ govukSummaryList({
  card: {
    title: {
      text: "Contact details: client credentials"
    },
    actions: {
      items: [
        {
          href: "./enter-their-contact-details2-m",
          text: "Change answers",
          visuallyHiddenText: "Change contact details: client credentials"
        }
      ]
    }
  },
  rows: [
    {
      key: {
        text: "Name"
      },
      value: {
        text: data['fullName1']
      }
    },
    {
      key: {
        text: "Job role"
      },
      value: {
        text: data['jobRole1']
      }
    },
    {
      key: {
        text: "Contact details"
      },
      value: {
        text: data['managerEmailAddress1']
      }
    }
  ]
  }) }}


{% else %}

{{ govukSummaryList({
  card: {
    title: {
      text: "Contact details: client credentials"
    },
    actions: {
      items: [
        {
          href: "./enter-their-contact-details2-m",
          text: "Change answers",
          visuallyHiddenText: "Change contact details: client credentials"
        }
      ]
    }
  },
  rows: [
    {
      key: {
        text: "Name"
      },
      value: {
        text: data['fullName3']
      }
    },
    {
      key: {
        text: "Job role"
      },
      value: {
        text: data['jobRole3']
      }
    },
    {
      key: {
        text: "Contact details"
      },
      value: {
        text: data['managerEmailAddress3']
      }
    }
  ]
  }) }}



{% endif %}



{% if data['regresource'] == 'yes' %}

  {{ govukSummaryList({
  card: {
    title: {
      text: "Scopes"
    },
    actions: {
      items: [
        {
          href: "./scopes-list-m",
          text: "Change answers",
          visuallyHiddenText: "Change scopes"
        }
      ]
    }
  },
  rows: [
    {
      key: {
        text: "Scope"
      },
      value: {
        text: data['scopename1']
      }
    
    }
  ]
  }) }}





{{ govukSummaryList({
  card: {
    title: {
      text: "Allowed clients"
    },
    actions: {
      items: [
        {
          href: "./select-allowed-clients-m",
          text: "Change answers",
          visuallyHiddenText: "Change allowed clients"
        }
      ]
    }
  },
  rows: [
    {
      key: {
        text: "Client ID"
      },
      value: {
        text: "123********"
      }
    },
    {
      key: {
       text: "Client ID"
      },
      value: {
       text: "456********"
      }
    },
    {
      key: {
       text: "Client ID"
      },
      value: {
        text: "789********"
      }
    },
    {
      key: {
       text: "Client ID"
      },
      value: {
       text: "334********"
      }
    },
    {
      key: {
       text: "Client ID"
      },
      value: {
        text: "414********"
      }
    }
  ]
  }) }}

{% else %}



  {{ govukSummaryList({
  card: {
    title: {
      text: "Do you need to register as a resource server?"
    },
    actions: {
      items: [
        {
          href: "./register-resource-server-m",
          text: "Change answers",
          visuallyHiddenText: "Change scopes"
        }
      ]
    }
  },
  rows: [
    {
      key: {
        text: "Answer"
      },
      value: {
        text: "No - I only need to access data from other services"
      }
    
    }
  ]
  }) }}


{% endif %}
{{ govukButton({
        text: "Save changes",
        href: "",
        isStartButton: false
      }) }}
    </div>




</form>
    </div>
</div>

{% endblock %}
