{% extends "layouts/main_agent_client_registration_test.html" %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% set backLink = 'true' %}

{% block pageTitle %}
  Start page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}




{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
<form class="form" action="./register-resource-server" method="post">

      <h1 class="govuk-heading-xl">
Enter their contact details
      </h1>

 {{ govukInput({
          label: {
            text: "Full name",
            classes: "govuk-label"
          },
          classes: "govuk-input--width-20",
          id: "full-name3",
          name: "fullName3",
          autocomplete: "name",
          spellcheck: false
        }) }}

         {{ govukInput({
          label: {
            text: "Job role",
            classes: "govuk-label"
          },
          classes: "govuk-input--width-20",
          id: "job-role3",
          name: "jobRole3",
          autocomplete: "name",
          spellcheck: false
        }) }}

        {{ govukInput({
          label: {
            text: "Email address",
            classes: "govuk-label"
          },
  hint: {
    text: "This cannot be an engineering email address. It needs to be in the format john.stevens@dwp.gov.uk"
  },
          classes: "govuk-input--width-20",
          id: "manager-email-address3",
          name: "managerEmailAddress3",
          spellcheck: false
        }) }}

{{ govukDetails({
  summaryText: "Why can't I use my engineering email address?",
  text: "To manage your onboarding to Access Manager, we are using single sign on, which requires a DWP email address."
}) }}


 <button type="submit" class="govuk-button" data-module="govuk-button">
  Continue
</button>

  </form>
    </div>
</div>

{% endblock %}
