{% extends "layouts/main_agent_client_registration_test.html" %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% set backLink = 'true' %}

{% block pageTitle %}
  Start page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}




{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
<form class="form" action="/enter-their-contact-details" method="post">

      <h1 class="govuk-heading-xl">
Who in your team is responsible for onboarding to Access Manager?
      </h1>
 {% if showErrorSummary %}
            {{ govukErrorSummary({
                titleText: "There is a problem",
                errorList: [
                    {
                        text: "Select what you would like to do",
                        href: "#kbv-another-way"
                    }
                ]
            }) }}



{{ govukRadios({
  name: "responsibleon",
  fieldset: {
    legend: {
      text: ""
    }
  },
  items: [
    {
      value: "me",
      text: "Me"
    },
    {
      value: "someone",
      text: "Someone else"
    }
  ],
                errorMessage: {
                    text: "Select what you would like to do"
                }
}) }}

{% else %}
{{ govukRadios({
  name: "responsibleon",
  fieldset: {
    legend: {
      text: ""
    }
  },
  items: [
    {
      value: "me",
      text: "Me"
    },
    {
      value: "someone",
      text: "Someone else"
    }
  ]
}) }}

    {% endif %}




<br>

 <button type="submit" class="govuk-button" data-module="govuk-button">
  Continue
</button>

      </form>
  
    </div>

</div>
{% endblock %}
