{% extends "layouts/main_agent_register.html" %}
{% set phaseBanner = 'true' %}

{% block pageTitle %}
  Submit a GOV.UK One Login registration request – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Submit a GOV.UK One Login registration request</h1>

      <form action="/access-request-submitted" method="post" novalidate>

        <h2 class="govuk-heading-m">Enter Personal details</h2>

        {{ govukInput({
          label: {
            text: "Full name",
            classes: "govuk-label"
          },
          classes: "govuk-input--width-20",
          id: "full-name",
          name: "fullName",
          autocomplete: "name",
          spellcheck: false
        }) }}

        {{ govukInput({
          label: {
            text: "Email address",
            classes: "govuk-label"
          },
          classes: "govuk-input--width-20",
          id: "email-address",
          name: "emailAddress",
          autocomplete: "email",
          spellcheck: false
        }) }}

        {{ govukInput({
          label: {
            text: "Shared or team email address",
            classes: "govuk-label"
          },
          classes: "govuk-input--width-20",
          id: "share-team-address",
          name: "shareteamemailAddress",
          spellcheck: false
        }) }}

        {{ govukDetails({
          summaryText: "Tell me more about shared and team email",
          text: "If you use one, tell us what your team email address is. This is so someone else can pick up messages about your registration to the DWP Access Manager if you are away."
        }) }}

        {{ govukInput({
          label: {
            text: "Line manager email address",
            classes: "govuk-label"
          },
          classes: "govuk-input--width-20",
          id: "manager-email-address",
          name: "managerEmailAddress",
          spellcheck: false
        }) }}

        {{ govukInput({
          label: {
            text: "Approver's email address",
            classes: "govuk-label"
          },
          classes: "govuk-input--width-20",
          id: "approver-email-address",
          name: "approverEmailAddress",
          spellcheck: false
        }) }}

        {{ govukDetails({
          summaryText: "Tell me more about Approver's email address",
          text: "This is someone in your work area who can approve any updates that you need to make on the service. They will be on DWP Place as an ‘approver’ status."
        }) }}

        {{ govukInput({
          label: {
            text: "Your teams' Slack channel URL",
            classes: "govuk-label"
          },
          classes: "govuk-input--width-20",
          id: "team-slack-url",
          name: "slackUrl",
          spellcheck: false
        }) }}

        {{ govukDetails({
          summaryText: "Tell me more about Slack channels",
          text: "Enter the hashtag (#) or URL for your teams’ slack channel so it can get updates about your registration application."
        }) }}

        {{ govukInput({
          label: {
            text: "DWP service name",
            classes: "govuk-label"
          },
          hint: {
                    text: "For example, Access to Work"
                  },
          classes: "govuk-input--width-20",
          id: "service-name",
          name: "serviceName",
          spellcheck: false
        }) }}

        {{ govukDetails({
          summaryText: "Tell me more about the service name",
          text: "This is the name of your service that you wish to onboard with DWP Access Manager service (DTH AM). Please ensure you choose the right service as this will determine your reference number."
        }) }}

        {% set clientHtml %}
        <p class="govuk-body">The client secret will be provided by the service and you will receive this via email.</p>
        {% endset -%}

        {% set publicHtml %}
        {{ govukInput({
          id: "public-key-answer",
          name: "publicKeyAnswer",
          type: "email",
          autocomplete: "off",
          spellcheck: false,
          classes: "govuk-!-width-one-third",
          label: {
            text: "Public Key answer"
          }
        }) }}

        {{ govukDateInput({
        id: "publicDate",
        namePrefix: "publicDate",
        fieldset: {
        legend: {
        text: "Public key expiry date",
        isPageHeading: true,
        classes: "govuk-fieldset__legend-"
        }
        },
        hint: {
        text: "For example, 10 6 2025"
        }
        }) }}
        {% endset -%}

        {{ govukRadios({
          name: "Choose",
          fieldset: {
            legend: {
              text: "Select Client secret or Public key",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--m"
            }
          },
          hint: {
            text: "You must use either a Client Secret or Public Key"
          },
          items: [
            {
              value: "client",
              text: "Client Secret",
                conditional: {
                html: clientHtml
              }
            },
            {
              value: "public",
              text: "Public Key",
              conditional: {
                html: publicHtml
              }
            }
          ]
        }) }}

        {{ govukDetails({
          summaryText: "Tell me more about Client Secret or Public Key",
          html: '<p>A client secret is a secret string that the application uses to prove its identity when requesting a token, this can also can be referred to as an application password.</p>
          <p>A public key is a string that the application uses to prove its identity and more content here.</p>'
        }) }}

        <h2 class="govuk-heading-m">Enter Technical details</h2>

        {{ govukInput({
          label: {
            text: "IDV passed Redirect URL",
            classes: "govuk-label"
          },
          classes: "govuk-input--width-20",
          id: "idv-redirect-url",
          name: "idvredirectUrl",
          spellcheck: false
        }) }}

        {{ govukDetails({
          summaryText: "Tell me more about IDV Redirect URL",
          text: "This is the URL that you wish the service to redirect users or DWP services back to after they have passed the One Login IDV and been authorised through DWP Access Manager. Usually the DWP service page or the first screen of your service."
        }) }}

        {{ govukInput({
          label: {
            text: "IDV failed Redirect URL",
            classes: "govuk-label"
          },
          classes: "govuk-input--width-20",
          id: "idv-failed-redirect-url",
          name: "idvfailedredirectUrl",
          spellcheck: false
        }) }}

        {{ govukDetails({
          summaryText: "Tell me more about failed IDV Redirect URL",
          text: "This is the URL that you wish the service to redirect users or DWP services back to after they have failed the One Login IDV and DWP AM needs to pass them back to your service. Usually the DWP service support page that helps users who cannot pass identity verification online."
        }) }}

        {{ govukInput({
          label: {
            text: "Logout URL",
            classes: "govuk-label"
          },
          hint: {
                    text: "For example, http://client-service.dwp.gov.uk/logout"
                  },
          classes: "govuk-input--width-20",
          id: "logout-url",
          name: "logoutUrl",
          spellcheck: false
        }) }}

        {{ govukDetails({
          summaryText: "Tell me more about Logout URL",
          text: "This is the URL that your service will provide if the user is logged out or timed out? Your service needs to have created a page that a user will see once they have been logged out."
        }) }}

        {% from "govuk/components/select/macro.njk" import govukSelect %}

        {{ govukInput({
          label: {
            text: "Scopes",
            classes: "govuk-label"
          },
          hint: {
                    text: "For example, 'openid', 'guid'"
                  },
          classes: "govuk-input--width-20",
          id: "scopes",
          name: "scopes",
          spellcheck: false
        }) }}

        {{ govukDetails({
          summaryText: "Tell me more about Scopes",
          text: "This should be reflected as an array. For example (insert example)."
        }) }}

        {{ govukInput({
          label: {
            text: "Claims",
            classes: "govuk-label"
          },
          hint: {
                    text: "For example, 'guid', 'email', 'phone', 'vot'"
                  },
          classes: "govuk-input--width-20",
          id: "Claims",
          name: "Claims",
          spellcheck: false
        }) }}

        {{ govukDetails({
          summaryText: "Tell me more about Claims",
          text: "This should be reflected as an (example) For example (insert example)."
        }) }}

        <div class="govuk-button-group">
          {{ govukButton({
            text: "Continue"
          }) }}

          {{ govukButton({
            text: "Clear",
            classes: "govuk-button--secondary"
          }) }}
        </div>

      </form>
    </div>
  </div>
{% endblock %}
