{% extends "layouts/main_agent_register.html" %}
{% set phaseBanner = 'true' %}

{% block pageTitle %}
  Check your answers before submitting – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Check your answers before submitting your request</h1>

<h2 class="govuk-heading-m">Personal details</h2>

<dl class="govuk-summary-list govuk-!-margin-bottom-9">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Full Name
    </dt>
    <dd class="govuk-summary-list__value">
      Sarah Philips
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="">Change<span class="govuk-visually-hidden"> full name</span></a>
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Email address
    </dt>
    <dd class="govuk-summary-list__value">
      sarah@testdwp.gov.uk
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="">Change<span class="govuk-visually-hidden"> Email address</span></a>
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Shared or team email address
    </dt>
    <dd class="govuk-summary-list__value">
      team@mail.gov.uk
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="">Change<span class="govuk-visually-hidden"> Shared or team email address/span></a>
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Line manager email address
    </dt>
    <dd class="govuk-summary-list__value">
      manager@tmail.gov.uk
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="">Change<span class="govuk-visually-hidden"> Line manager email address</span></a>
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Primary approver's email address
    </dt>
    <dd class="govuk-summary-list__value">
      primaryapprover@mail.gov.uk
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="">Change<span class="govuk-visually-hidden"> Primary approver's email address</span></a>
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Secondary approver's email address
    </dt>
    <dd class="govuk-summary-list__value">
      secondaryapprover@tmail.gov.uk
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="">Change<span class="govuk-visually-hidden"> Secondary approver's email address</span></a>
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Your teams' Slack channel URL
    </dt>
    <dd class="govuk-summary-list__value">
      Slack URL
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="">Change<span class="govuk-visually-hidden"> Your teams' Slack channel URL</span></a>
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      DWP service name
    </dt>
    <dd class="govuk-summary-list__value">
      Carers Allowance
      </dd>
      <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="">Change<span class="govuk-visually-hidden"> DWP service name</span></a>
    </dd>
  </div>
</dl>
<!-- <h2 class="govuk-heading-m">Public key details</h2>
<dl class="govuk-summary-list govuk-!-margin-bottom-9">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Public key answer
    </dt>
    <dd class="govuk-summary-list__value">
      answer here
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="">Change<span class="govuk-visually-hidden"> Public key answer</span></a>
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Public key expiry date
    </dt>
    <dd class="govuk-summary-list__value">
      25 02 2025
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="">Change<span class="govuk-visually-hidden"> Public key expiry date</span></a>
    </dd>
  </div>
</dl> -->
<h2 class="govuk-heading-m">Technical details</h2>
<dl class="govuk-summary-list govuk-!-margin-bottom-9">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Environment type
    </dt>
    <dd class="govuk-summary-list__value">
      Production
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="">Change<span class="govuk-visually-hidden"> Environment type</span></a>
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      IDV passed Redirect URL
    </dt>
    <dd class="govuk-summary-list__value">
      url here
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="">Change<span class="govuk-visually-hidden"> IDV passed Redirect URL</span></a>
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      IDV failed Redirect URL
    </dt>
    <dd class="govuk-summary-list__value">
      url here
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="">Change<span class="govuk-visually-hidden"> IDV failed Redirect URL</span></a>
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Logout URL
    </dt>
    <dd class="govuk-summary-list__value">
      http://carers-allowance-test.gov.uk/logout
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="">Change<span class="govuk-visually-hidden"> Logout URL</span></a>
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Scopes
    </dt>
    <dd class="govuk-summary-list__value">
      openID
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="">Change<span class="govuk-visually-hidden"> Scopes</span></a>
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Claims
    </dt>
    <dd class="govuk-summary-list__value">
      phone
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="">Change<span class="govuk-visually-hidden"> Claims</span></a>
    </dd>
  </div>
</dl>

<h2 class="govuk-heading-m">Now send your request</h2>

        <p class="govuk-body">By submitting this application you are confirming that, to the best of your knowledge, the details you are providing are correct.</p>

        <div class="govuk-button-group">
          {{ govukButton({
            text: "Confirm and submit",
            href: "/registration/flow2/submitted-your-request"
          }) }}
        </div>

        </div>
      </div>


{% endblock %}
