{% extends "layouts/main_agent_register.html" %}
{% set phaseBanner = 'true' %}

{% block pageTitle %}
  Submit a registration request for GOV.UK One Login – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Submit a registration request for GOV.UK One Login
      </h1>

      <h2 class="govuk-heading-m">
        You can use this service to:
      </h2>

      <ul class="govuk-list govuk-list--bullet">
        <li>Submit an integration request to DWP Access Manager production environment.</li>
      </ul>

      <p>This will enable you to connect up to GOV.UK One Login.</p>

      <p>It takes around 5 minutes to register. You will be able to check your answers before submitting.</p>

      <p>The Identity and Trust Service Management Team will handle your request and update you on your service status.</p>

      {{ govukButton({
        text: "Start now",
        href: "submit-a-registration-personal",
        isStartButton: true
      }) }}

      <h2 class="govuk-heading-m">
        Before you start
      </h2>

      <details class="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          What you will need to complete this submission
        </span>
      </summary>
      <div class="govuk-details__text">
        <ul class="govuk-list govuk-list--bullet">
          <li>your authorisers email address</li>
          <li>your DWP service name</li>
          <li>your teams Slack channel</li>
          <li>possibly your public key details</li>
          <li>pass redirect URL</li>
          <li>failure redirect URL</li>
          <li>logout URL</li>
          <li>scopes</li>
          <li>claims</li>
        </ul>
      </div>
      </details>

      <h2 class="govuk-heading-m">
        If you need help using this service
      </h2>

      <p class="govuk-body">Please see <a href="contact-dwp-support" target="_blank">our support page</a> for further guidance.</p>

      <p class="govuk-body">You can email the team directly on <a href="dthclient.itsm@DWP.gov.uk">dthclient.itsm@DWP.gov.uk</a></p>

      <p>We’ll reply by email within 2 days.</p>

      <p>We’ll respond during office hours:
      Monday to Friday, Office hours are 8am to 6pm.</p>

      </div>

  </div>

{% endblock %}
