{% extends "layouts/main_agent_register.html" %}
{% set phaseBanner = 'true' %}

{% block pageTitle %}
  Submit a GOV.UK One Login registration request – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l">Page 3 of 3</span>
      <h1 class="govuk-heading-l">
        Submit a GOV.UK One Login registration request
      </h1>

      <form action="/registration/flow2/check-your-answers" method="post" novalidate>

        <h2 class="govuk-heading-m">Enter Technical details</h2>

        {{ govukInput({
          label: {
            text: "IDV passed Redirect URL",
            classes: "govuk-label"
          },
          classes: "govuk-input--width-20",
          id: "idv-redirect-url",
          name: "idvredirectUrl",
          spellcheck: false
        }) }}

        {{ govukDetails({
          summaryText: "Tell me more about IDV Redirect URL",
          text: "This is the URL that you wish the service to redirect users or DWP services back to after they have passed the One Login IDV and been authorised through DWP Access Manager. Usually the DWP service page or the first screen of your service."
        }) }}

        {{ govukInput({
          label: {
            text: "IDV failed Redirect URL",
            classes: "govuk-label"
          },
          classes: "govuk-input--width-20",
          id: "idv-failed-redirect-url",
          name: "idvfailedredirectUrl",
          spellcheck: false
        }) }}

        {{ govukDetails({
          summaryText: "Tell me more about failed IDV Redirect URL",
          text: "This is the URL that you wish the service to redirect users or DWP services back to after they have failed the One Login IDV and DWP AM needs to pass them back to your service. Usually the DWP service support page that helps users who cannot pass identity verification online."
        }) }}

        {{ govukInput({
          label: {
            text: "Logout URL",
            classes: "govuk-label"
          },
          hint: {
                    text: "For example, http://client-service.dwp.gov.uk/logout"
                  },
          classes: "govuk-input--width-20",
          id: "logout-url",
          name: "logoutUrl",
          spellcheck: false
        }) }}

        {{ govukDetails({
          summaryText: "Tell me more about Logout URL",
          text: "This is the URL that your service will provide if the user is logged out or timed out? Your service needs to have created a page that a user will see once they have been logged out."
        }) }}

        {% from "govuk/components/select/macro.njk" import govukSelect %}

        {{ govukInput({
          label: {
            text: "Scopes",
            classes: "govuk-label"
          },
          hint: {
                    text: "For example, 'openid', 'guid'"
                  },
          classes: "govuk-input--width-20",
          id: "scopes",
          name: "scopes",
          spellcheck: false
        }) }}

        {{ govukDetails({
          summaryText: "Tell me more about Scopes",
          text: "This should be reflected as an array. For example (insert example)."
        }) }}

        {{ govukInput({
          label: {
            text: "Claims",
            classes: "govuk-label"
          },
          hint: {
                    text: "For example, 'guid', 'email', 'phone', 'vot'"
                  },
          classes: "govuk-input--width-20",
          id: "Claims",
          name: "Claims",
          spellcheck: false
        }) }}

        {{ govukDetails({
          summaryText: "Tell me more about Claims",
          text: "This should be reflected as an (example) For example (insert example)."
        }) }}

        <div class="govuk-button-group">
          {{ govukButton({
            text: "Continue"
          }) }}

          {{ govukButton({
            text: "Clear",
            classes: "govuk-button--secondary"
          }) }}
        </div>

      </form>
    </div>
  </div>
{% endblock %}
