{% extends "layouts/main_agent_details_declined.html" %}
{% set phaseBanner = 'true' %}

{% block pageTitle %}
  Edit registration record – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l govuk-!-margin-bottom-6">
        Registration request details
  </h1>

  <div class="govuk-inset-text govuk-!-margin-top-0">
      <h2 class="govuk-heading-m govuk-!-margin-bottom-3">Request declined</h2>
      <p>We declined this client request because of xyz. We made a decision on this request 5 days ago.</p>

<a href="" role="button" draggable="false" class="govuk-button govuk-!-margin-bottom-0 govuk-button--secondary" data-module="govuk-button">
  Spare button
</a>

</div>

<h2 class="govuk-heading-l">Application</h2>

<h2 class="govuk-heading-m">Personal details</h2>

<dl class="govuk-summary-list govuk-!-margin-bottom-9">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Full Name
    </dt>
    <dd class="govuk-summary-list__value">
      Sarah Philips
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Email address
    </dt>
    <dd class="govuk-summary-list__value">
      sarah@testdwp.gov.uk
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Shared or team email address
    </dt>
    <dd class="govuk-summary-list__value">
      team@mail.gov.uk
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Line manager email address
    </dt>
    <dd class="govuk-summary-list__value">
      manager@tmail.gov.uk
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Your teams' Slack channel URL
    </dt>
    <dd class="govuk-summary-list__value">
      Slack URL
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      DWP service name
    </dt>
    <dd class="govuk-summary-list__value">
      Carers Allowance
    </dd>
  </div>
</dl>
<h2 class="govuk-heading-m">Technical details</h2>
<dl class="govuk-summary-list govuk-!-margin-bottom-9">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Environment type
    </dt>
    <dd class="govuk-summary-list__value">
      Test
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Client secret
    </dt>
    <dd class="govuk-summary-list__value">
      answer here
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Client secret expiry time
    </dt>
    <dd class="govuk-summary-list__value">
      27-5-2025
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Redirect URL
    </dt>
    <dd class="govuk-summary-list__value">
      http://carers-allowance-test.gov.uk/redirect
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Logout URL
    </dt>
    <dd class="govuk-summary-list__value">
      http://carers-allowance-test.gov.uk/logout
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      ID token signature algorithum
    </dt>
    <dd class="govuk-summary-list__value">
      ES256
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Scopes
    </dt>
    <dd class="govuk-summary-list__value">
      openID
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Claims
    </dt>
    <dd class="govuk-summary-list__value">
      phone
    </dd>
  </div>
</dl>

<div class="govuk-button-group">
  {{ govukButton({
    text: "Return to DTH registrations",
    classes: "govuk-button--secondary",
    href: "request-list"
  }) }}

</div>

        </div>
      </div>


{% endblock %}
