{% extends "layouts/main_register.html" %}
{% set phaseBanner = 'true' %}

{% set pageName="DWP Access Manager Prototype" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

{% set html %}
  <h3 class="govuk-notification-banner__heading">
    This is a working prototype.
  </h3>
  <p class="govuk-body">This prototype is still in its early stages and is being constantly updated. Much of the content is still static and is only there to represent the typical layout.</p>
{% endset %}

{{ govukNotificationBanner({
  html: html
}) }}

    <h1 class="govuk-heading-xl">
      {{ serviceName }}
    </h1>

    <h2 class="govuk-heading-m">
      DWP Access Manager Registrations pages
    </h2>

    <p class="govuk-body">
      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a class="govuk-link" href="/start.html">Service start page</a>
        </li>
        <li>
          <a class="govuk-link" href="/registration.html">Submit a registration request</a>
        </li>
        <li>
          <a class="govuk-link" href="/check-answers.html">Check answers before confirming request</a>
        </li>
        <li>
          <a class="govuk-link" href="/registration-successful.html">Access request submitted</a>
        </li>
        <li>
          <a class="govuk-link" href="/switch-info.html">Info switch page (internal testing only)</a>
        </li>
      </ul>
    </p>

    {{ govukButton({
      text: "Start registration prototype",
      href: "start"
    }) }}

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <h2 class="govuk-heading-m">
      DWP Access Manager Approvals pages
    </h2>

    <p class="govuk-body">
      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a class="govuk-link" href="/approve-choice.html">Welcome to DWP Access Manager Approvals</a>
        </li>
        <li>
          <a class="govuk-link" href="/request-list.html">DTH Registration record list</a>
        </li>
        <li>
          <a class="govuk-link" href="request-list-updated">DTH Registration record list (after making a decision)</a>
        </li>
        <li>
          <a class="govuk-link" href="request-list-ol">One Login Approvals list</a>
        </li>
        <li>
          <a class="govuk-link" href="edit-answers">View client registration request</a>
        </li>
<!--    <li>
          <a class="govuk-link" href="edit-answers-approved">View client registration request (approved)</a>
        </li>
        <li>
          <a class="govuk-link" href="edit-answers-declined">View client registration request (declined)</a>
        </li>
        -->
        <li>
          <a class="govuk-link" href="make-decision">Make a decision on this request</a>
        </li>
        <li>
          <a class="govuk-link" href="edit-full-name">Edit full name (example of changing record data)</a>
        </li>
      </ul>
    </p>

    {{ govukButton({
      text: "Start management prototype",
      href: "approve-choice"
    }) }}

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <h2 class="govuk-heading-m">
      Footer link pages
    </h2>

    <p class="govuk-body">
      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a class="govuk-link" href="#">Accessibility Statement (no page as yet)</a>
        </li>
        <li>
          <a class="govuk-link" href="contact-dth-support">Contact the DTH Support Management Team</a>
        </li>
      </ul>
    </p>

{% include "govuk-prototype-kit/includes/homepage-top.njk" %}

  </div>
</div>

{% endblock %}
