{% extends "layouts/main_agent.html" %}
{% set phaseBanner = 'true' %}

{% set pageName="DWP Access Manager Prototype" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


    <h1 class="govuk-heading-xl">
      {{ serviceName }}
    </h1>

    <h2 class="govuk-heading-m">
      Service documentation
    </h2>

    <p class="govuk-body">
      <a class="govuk-link" href="#" target="_blank">Access Manager documentation</a>
    </p>

    <h2 class="govuk-heading-m">
      Wireframes and user journeys
    </h2>

    <p class="govuk-body">
      <a class="govuk-link" href="https://lucid.app/lucidspark/79723428-7163-4a74-b4c9-474c45177e4c/edit?page=0_0&invitationId=inv_737d8a4f-8681-400e-a15f-0082e0ca37e1#" target="_blank">See Lucid page here</a>
    </p>


    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <h2 class="govuk-heading-l">
          Latest journey iterations
        </h2>

    <h2 class="govuk-heading-m">
        DWP Access Manager Client Registration(test environment) - v1.6
    </h2>

    <p class="govuk-body">
      <strong>Last update:</strong> 21st of May 2026
    </p>

    <p class="govuk-body">
      This iteration is the latest version of the wireframes we have been working on and the first iteration to soon be tested with users.
    </p>

  

    {{ govukButton({
      text: "Start client registration prototype",
      href: "/client-registration-test/client-registration-start"
    }) }}

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">


    <h2 class="govuk-heading-m">
        DWP Access Manager Client Management(test environment) - v1.1
    </h2>

    <p class="govuk-body">
      <strong>Last update:</strong> 18th of May 2026
    </p>

    <p class="govuk-body">
      This iteration is the latest version of the wireframes we have been working on and the first iteration to soon be tested with users.
    </p>

  

    {{ govukButton({
      text: "Start client management prototype",
      href: "client-task-list"
    }) }}

  
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <h2 class="govuk-heading-m">
      Alternate pages for consideration
    </h2>

  

    <p class="govuk-body">
  
    
          <a class="govuk-link" href="./archived-original access manager prototype/index.html">Access Manager original prototype(archived)</a>
       

      </p>

  


    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <h2 class="govuk-heading-m">
      Footer link pages
    </h2>

    <p class="govuk-body">
      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a class="govuk-link" href="#">Accessibility Statement (no page as yet)</a>
        </li>
     
      </ul>
    </p>


{% include "govuk-prototype-kit/includes/homepage-top.njk" %}

  </div>
</div>

{% endblock %}
