{% extends "layouts/main_register.html" %}
{% set phaseBanner = 'true' %}

{% block pageTitle %}
  Access request submitted – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {{ govukPanel({
        titleText: "Your registration is complete",
        html: "Your Client ID<br><strong>CA-24248213887-WEB</strong>"
      }) }}

      <p>
        We have sent you a confirmation email.
      </p>

      <h2 class="govuk-heading-m">
        What happens next
      </h2>

      <p>
        You will receive an email confirming that you have registered xxx client ID with the DTH Access Manager. This application will remain pending until it is approved by Identity and Trust Service Management Team.
      </p>

      <p>
        Once this has been approved it will be passed to the GOV.UK One Login Team to establish connectivity. Once the One Login approvals have taken place you will receive another email and be contacted by the ID&T Service Management Team.
      </p>

      <p>
        <a href="javascript:close_window();">You may now close this window.</a>
      </p>

      <p>
        <a href="switch-info">
          Continue with the prototype (link only for internal testing)
        </a>
      </p>


    </div>
  </div>

{% endblock %}
