{% extends "layouts/main_agent_links.html" %}
{% set phaseBanner = 'true' %}

{% block pageTitle %}
  GOV.UK One Login Approval Requests – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">GOV.UK One Login Approvals (8)</h1>
  </div>
  <div class="govuk-grid-column-one-third">
    <div class="govuk-form-group">
<label class="govuk-label" for="sort">
  Sort by
</label>

<select class="govuk-select" id="sort" name="sort">
  <option value="published" selected>Date received</option>
  <option value="views">Environment</option>
  <option value="updated">Service name</option>
  <option value="published">Status</option>

</select>
</div>
  </div>
</div>

      <table class="govuk-table" table aria-label="DTH Registrations">
    <!--     <caption class="govuk-table__caption govuk-table__caption--m">Select a record below to view or update</caption> -->
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header">Client ID</th>
        <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Service name</th>
        <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Status</th>
        <th scope="col" class="govuk-table__header ">Date into OL</th>
        <th scope="col" class="govuk-table__header govuk-table__header--numeric">Action</th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">CA-WEB</td>
        <td class="govuk-table__cell">Carers Allowance</td>
        <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--blue">Pending-OL</strong></td>
        <td class="govuk-table__cell">25 September 2024</td>
        <td class="govuk-table__cell govuk-table__cell--numeric"><a class="govuk-link" href="">View<span class="govuk-visually-hidden"> update Carers Allowance record</span></a>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">FAJ-WEB</td>
        <td class="govuk-table__cell">Find a Job</td>
        <td class="govuk-table__cell"><strong class="govuk-tag">Pending-OL</strong></td>
        <td class="govuk-table__cell">1 September 2024</td>
        <td class="govuk-table__cell govuk-table__cell--numeric"><a class="govuk-link" href="">View<span class="govuk-visually-hidden"> update Universal Credit record</span></a>
      </tr>

      <tr class="govuk-table__row">
        <td class="govuk-table__cell">CC-WEB</td>
        <td class="govuk-table__cell">Care Choices</td>
        <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--red">Declined</strong></td>
        <td class="govuk-table__cell">13 July 2024</td>
        <td class="govuk-table__cell govuk-table__cell--numeric"><a href="" class="govuk-link">View</a></td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">DWPD-WEB</td>
        <td class="govuk-table__cell">DWP Debt</td>
        <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--yellow">Pending-update</strong></td>
        <td class="govuk-table__cell">21 July 2024</td>
        <td class="govuk-table__cell govuk-table__cell--numeric">disabled</td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">HB-WEB</td>
        <td class="govuk-table__cell">Housing Benefit</td>
        <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--yellow">Pending-update</strong></td>
        <td class="govuk-table__cell">10 July 2024</td>
        <td class="govuk-table__cell govuk-table__cell--numeric">disabled</td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">MG-WEB</td>
        <td class="govuk-table__cell">Maternity Grant</td>
        <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">Approved</strong></td>
        <td class="govuk-table__cell">04 July 2024</td>
        <td class="govuk-table__cell govuk-table__cell--numeric"><a href="" class="govuk-link">View</a></td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">SL-WEB</td>
        <td class="govuk-table__cell">Searchlight</td>
        <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--blue">Pending-OL</strong></td>
        <td class="govuk-table__cell">17 May 2024</td>
        <td class="govuk-table__cell govuk-table__cell--numeric">
          <a href="" class="govuk-link">View</a></td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">WP-WEB</td>
        <td class="govuk-table__cell">War Pensions</td>
        <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--yellow">Pending-update</strong></td>
        <td class="govuk-table__cell">11 July 2024</td>
        <td class="govuk-table__cell govuk-table__cell--numeric">
          <a href="" class="govuk-link">View</a></td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">JSAI-WEB</td>
        <td class="govuk-table__cell">Job Seekers Allowance (Income)</td>
        <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">Approved</strong></td>
        <td class="govuk-table__cell">08 April 2024</td>
        <td class="govuk-table__cell govuk-table__cell--numeric">
          <a href="" class="govuk-link">View</a></td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">WS-WEB</td>
        <td class="govuk-table__cell">Workspace</td>
        <td class="govuk-table__cell"><strong class="govuk-tag">Pending-OL</strong></td>
        <td class="govuk-table__cell">28 August 2024</td>
        <td class="govuk-table__cell govuk-table__cell--numeric">
        <a href="" class="govuk-link">View</a></td>
      </tr>
    </tbody>
  </table>

                {% from "govuk/components/pagination/macro.njk" import govukPagination %}

{{ govukPagination({
  previous: {
    href: "#"
  },
  next: {
    href: "#"
  },
  items: [
    {
      number: 1,
      current: true,
      href: "#"
    },
    {
      number: 2,
      href: "#"
    },
    {
      number: 3,
      href: "#"
    }
  ]
}) }}

<p class="govuk-body"><a href="request-list">Switch to DWP Registration requests</a></p>

    </div>
  </div>

{% endblock %}
