{% extends "layouts/main.html" %}

{% block pageTitle %}
  Access Request list – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <div class="govuk-form-group">
  <label class="govuk-label" for="sort">
    Sort by
  </label>
  <select class="govuk-select" id="sort" name="sort">
    <option value="published" selected>Status</option>
    <option value="updated">Service name</option>
    <option value="views">Client ID (A-Z)</option>
  </select>
</div>

      <table class="govuk-table">
         <caption class="govuk-table__caption govuk-table__caption--l">DTH Registrations (21)</caption>
                  <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                      <th scope="col" class="govuk-table__header">Client ID</th>
                      <th scope="col" class="govuk-table__header">Service name</th>
                      <th scope="col" class="govuk-table__header">Status</th>
                      <th scope="col" class="govuk-table__header ">Notes</th>
                      <th scope="col" class="govuk-table__header ">Date received</th>
                      <th scope="col" class="govuk-table__header govuk-table__header--numeric">Action</th>
                    </tr>
                  </thead>
                  <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell">CA-WEB</td>
                      <td class="govuk-table__cell">Carers Allowance</td>
                      <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--yellow">Pending-update</strong></td>
                      <td class="govuk-table__cell">We need to chase up details regarding the redirect URL and confirm with them when their service will be ready for onboarding.</td>
                      <td class="govuk-table__cell">25-4-24</td>
                      <td class="govuk-table__cell govuk-table__cell--numeric"><a href="edit-answers.html" class="govuk-link">View</a></td>
                    </tr>
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell">UC1-WEB</td>
                      <td class="govuk-table__cell">Universal Credit once</td>
                      <td class="govuk-table__cell"><strong class="govuk-tag">Pending-new</strong></td>
                      <td class="govuk-table__cell">---</td>
                      <td class="govuk-table__cell">25-3-24</td>
                      <td class="govuk-table__cell govuk-table__cell--numeric"><a href="contact-history-viewDetails/viewDetail-01-May.html" class="govuk-link">View</a></td>
                    </tr>
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell">ATW-WEB</td>
                      <td class="govuk-table__cell">Access to Work</td>
                      <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--red">Declined</strong></td>
                      <td class="govuk-table__cell">Decline summary</td>
                      <td class="govuk-table__cell">25-3-24</td>
                      <td class="govuk-table__cell govuk-table__cell--numeric"><a href="contact-history-viewDetails/viewDetail-01-May.html" class="govuk-link">View</a></td>
                    </tr>
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell">BB-WEB</td>
                      <td class="govuk-table__cell">Bereavement Benefit</td>
                      <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--yellow">Pending-update</strong></td>
                      <td class="govuk-table__cell">Helpful notes about service</td>
                      <td class="govuk-table__cell">25-3-24</td>
                      <td class="govuk-table__cell govuk-table__cell--numeric"><a href="contact-history-viewDetails/viewDetail-01-May.html" class="govuk-link">View</a></td>
                    </tr>
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell">RMD-WEB</td>
                      <td class="govuk-table__cell">RAMBYO</td>
                      <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--yellow">Pending-update</strong></td>
                      <td class="govuk-table__cell">Important notes here</td>
                      <td class="govuk-table__cell">25-3-24</td>
                      <td class="govuk-table__cell govuk-table__cell--numeric"><a href="contact-history-viewDetails/viewDetail-01-May.html" class="govuk-link">View</a></td>
                    </tr>
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell">PCOC</td>
                      <td class="govuk-table__cell">Pensions Change of Circs</td>
                      <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--red">Declined</strong></td>
                      <td class="govuk-table__cell">Decline summary</td>
                      <td class="govuk-table__cell">25-3-24</td>
                      <td class="govuk-table__cell govuk-table__cell--numeric"><a href="contact-history-viewDetails/viewDetail-01-May.html" class="govuk-link">View</a></td>
                    </tr>
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell">CA-WEB</td>
                      <td class="govuk-table__cell">Carers Allowance</td>
                      <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">Approved</strong></td>
                      <td class="govuk-table__cell">Some helpful notes</td>
                      <td class="govuk-table__cell">25-3-24</td>
                      <td class="govuk-table__cell govuk-table__cell--numeric">
                        <a href="contact-history-viewDetails/viewDetail-01-May.html" class="govuk-link">View</a></td>
                    </tr>
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell">PIP-WEB</td>
                      <td class="govuk-table__cell">PIP</td>
                      <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">Approved</strong></td>
                      <td class="govuk-table__cell">---</td>
                      <td class="govuk-table__cell">25-3-24</td>
                      <td class="govuk-table__cell govuk-table__cell--numeric">
                        <a href="edit-answers-approved" class="govuk-link">View</a></td>
                    </tr>
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell">CV-WEB</td>
                      <td class="govuk-table__cell">Customer View</td>
                      <td class="govuk-table__cell"><strong class="govuk-tag">Pending-new</strong></td>
                      <td class="govuk-table__cell">---</td>
                      <td class="govuk-table__cell">25-3-24</td>
                      <td class="govuk-table__cell govuk-table__cell--numeric">
                        <a href="contact-history-viewDetails/viewDetail-01-May.html" class="govuk-link">View</a></td>
                    </tr>
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell">MOT-WEB</td>
                      <td class="govuk-table__cell">MOT Your Vehicle</td>
                      <td class="govuk-table__cell"><strong class="govuk-tag">Pending-new</strong></td>
                      <td class="govuk-table__cell">Some helpful notes</td>
                      <td class="govuk-table__cell">25-3-24</td>
                      <td class="govuk-table__cell govuk-table__cell--numeric">
                      <a href="contact-history-viewDetails/viewDetail-01-May.html" class="govuk-link">View</a></td>
                    </tr>
                  </tbody>
                </table>

                {% from "govuk/components/pagination/macro.njk" import govukPagination %}

{{ govukPagination({
  previous: {
    href: "#"
  },
  next: {
    href: "#"
  },
  items: [
    {
      number: 1,
      current: true,
      href: "#"
    },
    {
      number: 2,
      href: "#"
    },
    {
      number: 3,
      href: "#"
    }
  ]
}) }}

    </div>
  </div>

{% endblock %}
