{% extends "layouts/main_agent.html" %}
{% set phaseBanner = 'true' %}

{% block pageTitle %}
  Contact DWP Support Management Team – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
            Contact DWP Support Management Team
          </h1>

          <h2 class="govuk-heading-m">
            Before you contact us
          </h2>

          <ul class="govuk-list govuk-list--bullet">
            <li>Make sure you have had training on how to use the service.</li>
            <li>Where applicable read the service start page for journey guidance.</li>
            <li>Always check you have all the information needed before attempting to submit or update a registration request.</li>
            <li>See if a member of your team can provide additional help with the service.</li>
          </ul>

          <p>The Identity and Trust Service Management Team will handle any requests and update on integration status.</p>


          <h2 class="govuk-heading-l">
            If you need help using this service
          </h2>

            <p class="govuk-body">If you're having trouble using any part of the DWP Access Manager service, you can get help from our Management Support Team.</p>

            <h2 class="govuk-heading-m">
              Ways to contact us
            </h2>

          <h2 class="govuk-heading-s">
            Email
          </h2>

          <p class="govuk-body">You can email the team directly on <a href="dthclient.itsm@DWP.gov.uk">dthclient.itsm@DWP.gov.uk</a></p>

          <p>We’ll reply by email within 2 days.</p>

          <p>We’ll respond during office hours:
          Monday to Friday, 9:30am to 5:30pm</p>

          <h2 class="govuk-heading-l">
            How we use your information
          </h2>

          <p class="govuk-body">To find out what information we store when you contact us and how we use it, see the DWP privacy notice.</p>

    </div>
  </div>

{% endblock %}
