{#
For guidance on how to use layouts see:
https://prototype-kit.service.gov.uk/docs/how-to-use-layouts
#}

{% extends "govuk-prototype-kit/layouts/govuk-branded.njk" %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/date-input/macro.njk" import govukDateInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "internal-service-header/macro.njk" import dwpHeader %}
{% from "internal-service-footer/macro.njk" import dwpFooter %}
{% from "key-details-bar/macro.njk" import dwpKeyDetailsBar %}

{% block header %}

{{
    dwpHeader({
        serviceName: "DWP Access Manager Approvals Prototype",
        serviceHref: '/index',
        container: true
    })
}}

{{
    dwpKeyDetailsBar({
        primaryIdentifier: {
            text: 'Name:',
            value: 'Carers Allowance'
        },
        secondaryIdentifier: {
            text: 'Component:',
            value: 'One Login'
        },
        status: {
            text: 'Claim status:',
            value: 'Pending-OL',
            classes: 'govuk-tag--blue'
        },
        additionalData: [
        {
            text: "Date received:",
            value: "25 April 2024"
        },
        {
            text: "Client ID:",
            value: "CA-WEB"
        },
        {
            text: "Environment:",
            value: "Production"
        }
        ]
    })
}}

{% endblock %}

{% block beforeContent %}
    {% if phaseBanner == 'true' %}
        {% include '_includes/phase-banner.njk' %}
    {% endif %}

    {% if breadcrumbs == 'true' %}
        {% include '_includes/breadcrumbs.njk' %}
    {% endif %}

    {% if backLink == 'true' %}
        {% include '_includes/back-link.njk' %}
    {% endif %}

    {% if languageToggle == 'true' %}
        {% include '_includes/language-toggle.njk' %}
    {% endif %}
{% endblock %}

{% block footer %}

{{
    dwpFooter({
        meta: {
            visuallyHiddenTitle: "About this website",
            items: [
            {
                href: "",
                text: "Accessibility statement"
            },
            {
                href: "/contact-dwp-support",
                text: "Contact support (opens in a new tab)"
            },
            {
                href: "",
                text: "Privacy"
            },
            {
                href: "/manage-prototype/clear-data",
                text: "Clear data"
            }
            ]
        }
    })
}}

    {% endblock %}
